[Unit]
Description=Language server multiplexer server

[Service]
Type=simple
ExecStart=/home/tuommaki/.cargo/bin/lspmux server

[Install]
WantedBy=default.target

