[core]
	excludesfile = /home/tuommaki/.gitignore
	gitproxy = \"ssh\" for github.com
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
[user]
	name = Tuomas Mäkinen
	email = tuomas@gevulot.com
[pull]
	rebase = false
